<html>
<head>
<h1 style="margin: 0.0px 0.0px 16.1px 0.0px; font: 24.0px Times; -webkit-text-stroke: #000000"><span class="s1"><b>Resume</b></span></h1>
<h2 style="margin: 0.0px 0.0px 14.9px 0.0px; font: 18.0px Times; -webkit-text-stroke: #000000"><span class="s1"><b>Dawson Field</b></span></h2>
<a href="/about"> About Me Bio</a>
<p class="p1"><span class="s1"></span><br></p>
<p class="p4"><span class="s1">Interests</span></p>
<ul class="ul1">
  <li class="li5"><span class="s2"></span><span class="s1">Golf</span></li>
  <li class="li5"><span class="s2"></span><span class="s1">Baseball</span></li>
  <li class="li5"><span class="s2"></span><span class="s1">Hiking</span></li>
  <li class="li5"><span class="s2"></span><span class="s1">Camping</span></li>
  <li class="li5"><span class="s2"></span><span class="s1">Computer Science</span></li>
</ul>
<p class="p4"><span class="s1">Skills</span></p>
<ul class="ul1">
  <li class="li5"><span class="s2"></span><span class="s1">Python, Tableau Desktop</span></li>
</ul>
<p class="p4"><span class="s1">Education</span></p>
<ul class="ul1">
  <li class="li5"><span class="s2"></span><span class="s1">Mountain Ridge High School</span></li>
  <li class="li6">Utah State University<span class="Apple-converted-space"> </span></li>
</ul>
<p class="p4"><span class="s1">Experience</span></p>
<ul class="ul1">
  <li class="li5"><span class="s2"></span><span class="s1">Baseball Umpire - Arrowhead Little League</span></li>
  <li class="li5"><span class="s2"></span><span class="s1">Logistics Clerk - Blackstone Products<span class="Apple-converted-space"> </span></span></li>
</ul>
<p class="p4"><span class="s1">Extracurriculars</span></p>
<ul class="ul1">
  <li class="li5"><span class="s2"></span><span class="s1">Student Ambassador</span></li>
  <li class="li6">USU Hurd</li>
</ul>
<p class="p1"><span class="s1"></span><br></p>
<h2 style="margin: 0.0px 0.0px 14.9px 0.0px; font: 18.0px Times; -webkit-text-stroke: #000000"><span class="s1"><b>Dawson Field</b></span></h2>
</body>
</html>
